<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="css/app.css"></link>
<link rel="stylesheet" type="text/css" href="ngModal/ng-modal.css"></link>
<script src="angular-1.2.18/angular.js"></script>
<script src="ngModal/ng-modal.js"></script>

<script>
	var olantoApp = angular.module('olantoApp', ["ngModal"]);
	
	olantoApp.config(function(ngModalDefaultsProvider) {
        return ngModalDefaultsProvider.set({
          closeButtonHtml: "<i class='fa fa-times'>X</i>"
        });
    });

	olantoApp.controller('OlantoListCtrl', function($scope, Olanto) {

		$scope.myForm = {};
		$scope.myForm.source = "fr";
		$scope.myForm.target = "en";
		$scope.myForm.q = "charte";

		$scope.results = {};
		$scope.results.errorMsg = "";
		$scope.results.data = [];
		
		$scope.submitToSolr = function() {
			$scope.results = Olanto.solrQuery($scope.myForm);
		};

		$scope.submitToOlanto = function() {
			$scope.results = Olanto.query($scope.myForm);
		};

		
		$scope.document = {};
		$scope.modalShown = false;
		$scope.toggleModal = function(result) {
			$scope.document = result;
			$scope.modalShown = !$scope.modalShown;
		};
		$scope.logClose = function() {
			console.log('close!');
		};
	});

	olantoApp.factory('Olanto', function($http) {

		return {
			query : function(theForm) {
				var results = {};
				results.errorMsg = "";
				results.data = [];
				$http.get(
						'api/solr/search?key=CORPONU&source=' + theForm.source
								+ '&target=' + theForm.target + '&q='
								+ theForm.q).success(function(data) {
					for (var i = 0; i < data.length; i++) {
						results.data.push(data[i]);
					}
				}).error(function(data, status, headers, config) {
					results.errorMsg = "Error code : " + status;
				});
				return results;
			},
			solrQuery : function(theForm) {
				var results = {};
				results.errorMsg = "";
				results.data = [];
				$http.get(
						'api/solr/solrSearch?key=CORPONU&source='
								+ theForm.source + '&target=' + theForm.target
								+ '&q=' + theForm.q).success(function(data) {
					for (var i = 0; i < data.length; i++) {
						results.data.push(data[i]);
					}
				}).error(function(data, status, headers, config) {
					results.errorMsg = "Error code : " + status;
				});
				return results;
			}
		}
	});
	
</script>

</head>
<body class="container" style="width: 90%;">
	<div ng-app="olantoApp">
		<div ng-controller="OlantoListCtrl">

			<!-- Search form -->
			<div>
				<h4>Search</h4>

				<div class="container-fluid">
					<form class="form" role="form">
						<input type="hidden" name="key" value="CORPONU" />

						<div class="form-group inline">
							<label class="control-label col-sm-2" for="source">Source</label>

							<div class="col-sm-2">
								<select name="source" ng-model="myForm.source"
									class="form-control">
									<option value="en">EN</option>
									<option selected value="fr">FR</option>
								</select>
							</div>
							<label class="control-label col-sm-2" for="target">Target</label>

							<div class="col-sm-2">
								<select name="target" ng-model="myForm.target"
									class="form-control">
									<option selected value="en">EN</option>
									<option value="fr">FR</option>
								</select>
							</div>
							<label class="control-label col-sm-2" for="q">Text</label>

							<div class="col-sm-10">
								<input type="text" name="q" ng-model="myForm.q"
									class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="button" ng-click="submitToSolr()"
									class="btn btn-primary" value="Solr search" /> <input
									type="button" ng-click="submitToOlanto()"
									class="btn btn-primary" value="Solr with olanto search" />
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- Results table -->
			<div class="container-fluid" ng-show="results.data.length">

				<table class="table table-striped">
					<tr>
						<th>Filename</th>
						<th>Language</th>
						<th>Categories</th>
						<th>Content</th>
					</tr>
					<tr ng-repeat="result in results.data">
						<td style="width: 180px"><a ng-click='toggleModal(result)'>{{result.filename}}</a></td>
						<td style="width: 40px">{{result.language}}</td>
						<td style="width: 40px">
							<div ng-repeat="cat in result.cat">
								<span>{{cat}}&nbsp;</span>
							</div>
						</td>
						<td><span>{{result.content[0].substring(0, 100)}}</span> <span
							ng-show="result.content[0].length > 100">...</span></td>
					</tr>
				</table>
			</div>



			<!-- No results and error message if any-->
			<div class="container-fluid">
				<label ng-show="!results.data.length">No results for this
					text!</label> <label ng-show="results.errorMsg">{{results.errorMsg}}</label>
			</div>

			<modal-dialog show="modalShown" dialog-title="{{document.filename}}" width="80%" on-close="logClose()">
				<p><pre style="height:45em;overflow:auto;">{{document.content[0]}}</pre></p>
			</modal-dialog>

		</div>
	</div>

</body>
</html>